<h2>Logic Programming</h2>
<h6>"Rispondi a una domanda cercando la soluzione"</h6>

I programmi consistono di dichiarazioni logiche, e l’esecuzione corrisponde alla ricerca sistematica delle dimostrazioni
(facts) per tali
dichiarazioni facendo uso di regole di inferenza. Particolarmente efficace per i problemi che consistono nell’estrazione
di conoscenza da basic facts e
relazioni (problemi di Intelligenza Artificiale - AI), ma può anche essere impiegato come paradigma general purpose
(Kowalsi paper).

<h4>Modello computazionale di riferimento: LOGICA FIRST ORDER</h4>

<b>Algoritmi</b> = Logica + Controllo: i programmi devono specificare solo la parte logica, il controllo è gestito dalla
macchina astratta.

<h3>Astrazioni</h3>
<ul>
   <li>Assiomi</li>
   <li>Regole di inferenza</li>
   <li>Query</li>
</ul>

<h3>Linguaggi</h3>
<ul>
   <li>Prolog</li>
   <li>Datalog</li>
</ul>
