<nav class="navbar navbar-dark bg-dark navbar-expand-sm flex-row flex-nowrap h-100">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>

   <div class="navbar-collapse collapse" id="navbar">
      <div class="nav flex-sm-column flex-row w-100">
         <a routerLink="/" routerLinkActive="active" class="nav-item text-center" href="#">
            <img src="assets/avatar.png" width="120" height="120" class="d-inline-block align-top" alt="Luca Pascucci Avatar">
         </a>
         <a href="#about" class="nav-item nav-link text-center text-white">ABOUT</a>
         <a href="#experience" class="nav-item nav-link text-center text-white">EXPERIENCE</a>
         <a href="#education" class="nav-item nav-link text-center text-white">EDUCATION</a>
         <a href="#skills" class="nav-item nav-link text-center text-white">SKILLS</a>
         <a href="#interests" class="nav-item nav-link text-center text-white">INTERESTS</a>
         <a href="#awards" class="nav-item nav-link text-center text-white">AWARDS</a>
         <a routerLink="/pascupedia" class="nav-item nav-link text-center text-white">
            <fa-icon class="fa-3x" [icon]="faBook"></fa-icon>
         </a>
      </div>
   </div>
</nav>
