<div class="container-fluid pt-3">
   <div class="row">
      <div class="col">
         <div class="jumbotron">
            <h1 class="display-4">Benvenuto nella <img src="{{pascupedia}}" height="80" alt="pascupedia">!</h1>
            <p class="lead">Enciclopedia di libero utilizzo con tecnologie, framework e consigli appresi dal primo
               tasto cliccato ad oggi.</p>
            <hr class="my-4">
            <p>Creata e modificata continuamente dal sottoscritto.</p>
         </div>
      </div>
   </div>


   <h4 class="text-center">Frameworks</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/angular-doc">
            <img src="/assets/icons/angular.svg" class="img-fluid icon-height" alt="angular icon">
         </a>
      </div>

   </div>
</div>
