<div class="container-fluid pt-3">
   <div class="row">
      <div class="col">
         <div class="jumbotron">
            <h1 class="display-4">Benvenuto nella <img src="{{pascupedia}}" height="80" alt="pascupedia">!</h1>
            <p class="lead">Enciclopedia di libero utilizzo con tecnologie, framework e consigli appresi dal primo
               tasto cliccato ad oggi.</p>
            <hr class="my-4">
            <p>Creata e modificata continuamente dal sottoscritto.</p>
         </div>
      </div>
   </div>
   <h4 class="text-center">Paradigms</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <div class="col text-center">
            <a routerLink="/pascupedia/imp-doc">
               Imperative programming
            </a>
         </div>
      </div>
      <div class="col text-center">
         <div class="col text-center">
            <a routerLink="/pascupedia/logic-doc">
               Logic programming
            </a>
         </div>
      </div>
      <div class="col text-center">
         <div class="col text-center">
            <a routerLink="/pascupedia/func-doc">
               <img src="/assets/icons/functionalprogramming.png" class="img-fluid icon-height" alt="func icon">
            </a>
         </div>
      </div>
      <div class="col text-center">
         <div class="col text-center">
            <a routerLink="/pascupedia/oop-doc">
               <img src="/assets/icons/oop.png" class="img-fluid icon-height" alt="oop icon">
            </a>
         </div>
      </div>
      <div class="col text-center">
         <div class="col text-center">
            <a routerLink="/pascupedia/actor-doc">
               Actor Programming
            </a>
         </div>
      </div>
      <div class="col text-center">
         <div class="col text-center">
            <a routerLink="/pascupedia/agent-doc">
               Agent Oriented Programming
            </a>
         </div>
      </div>
   </div>
   <h4 class="text-center">Languages</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/c-doc">
            <img src="/assets/icons/c.svg" class="img-fluid icon-height" alt="c icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/c-plus-plus-doc">
            <img src="/assets/icons/cplusplus.svg" class="img-fluid icon-height" alt="c plus plus icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/c-sharp-doc">
            <img src="/assets/icons/csharp.svg" class="img-fluid icon-height" alt="c sharp icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/java-doc">
            <img src="/assets/icons/java.svg" class="img-fluid icon-height" alt="java icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/sql-doc">
            SQL
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/haskell-doc">
            <img src="/assets/icons/haskell.svg" class="img-fluid icon-height" alt="haskell icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/prolog-doc">
            prolog
         </a>
      </div>
   </div>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/javascript-doc">
            <img src="/assets/icons/javascript.svg" class="img-fluid icon-height" alt="javascript icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/typescript-doc">
            <img src="/assets/icons/typescript.svg" class="img-fluid icon-height" alt="typescript icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/php-doc">
            <img src="/assets/icons/php.svg" class="img-fluid icon-height" alt="php icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/hmtl5-doc">
            <img src="/assets/icons/html5.svg" class="img-fluid icon-height" alt="html5 icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/css-doc">
            <img src="/assets/icons/css.svg" class="img-fluid icon-height" alt="css icon">
         </a>
      </div>
   </div>
   <h4 class="text-center">Frameworks</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/angular-doc">
            <img src="/assets/icons/angular.svg" class="img-fluid icon-height" alt="angular icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/nodejs-doc">
            <img src="/assets/icons/nodejs.svg" class="img-fluid icon-height" alt="nodejs icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/play-doc">
            <img src="/assets/icons/playframework.svg" class="img-fluid icon-height" alt="Play Framework icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/JaCaMo-doc">
            JaCaMo
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/ionic-doc">
            <img src="/assets/icons/ionic.svg" class="img-fluid icon-height" alt="Ionic icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/dot-net">
            <img src="/assets/icons/microsoft-net.svg" class="img-fluid icon-height" alt="Dot Net icon">
         </a>
      </div>
   </div>
   <h4 class="text-center">Ambienti di sviluppo</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/unity-doc">
            <img src="/assets/icons/unity.svg" class="img-fluid icon-height" alt="Unity icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/">
            <img src="/assets/icons/android.svg" class="img-fluid icon-height" alt="Android Studio icon">

         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/visual-studio-code-doc">
            <img src="/assets/icons/visualstudiocode.svg" class="img-fluid icon-height" alt="Visual Studio Code icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/xcode-doc">
            Xcode
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/google-cloud-platform-doc">
            <img src="/assets/icons/gcp.svg" class="img-fluid icon-height" alt="gcp icon">
         </a>
      </div>
   </div>
   <h4 class="text-center">Formato dati</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/json-doc">
            <img src="/assets/icons/json.svg" class="img-fluid icon-height" alt="JSON icon">
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/xml-doc">
            XML
         </a>
      </div>
   </div>
   <h4 class="text-center">Database</h4>
   <div class="row mb-4">
      <div class="col text-center">
         <a routerLink="/pascupedia/relational-doc">
            Relazionale
         </a>
      </div>
      <div class="col text-center">
         <a routerLink="/pascupedia/xml-doc">
            Non-relazionale
         </a>
      </div>
   </div>
</div>
