<div class="container-fluid pt-3">
   <div class="row">
      <div class="col-10">
         <div class="jumbotron shadow-lg p-5 mb-3 bg-light">
            <h1 class="display-4">LUCA PASCUCCI</h1>
            <p class="lead">
               <fa-icon [icon]="faGraduationCap"></fa-icon>
               Dr. Magistrale in Ingegneria e Scienze Informatiche
               <fa-icon [icon]="faLaptopCode"></fa-icon>
            </p>
            <hr class="my-4">
            <p>
               <fa-icon [icon]="faCalendarAlt"></fa-icon> 27 -
               <fa-icon [icon]="faHome"></fa-icon> Pesaro -
               <fa-icon [icon]="faMotorcycle"></fa-icon> Biker
            </p>
            <p>
               <fa-icon [icon]="faTelegram"></fa-icon>&nbsp;
               <a class="text-dark" href="https://t.me/[LucaPascucci]">@LucaPascucci</a> -
               <fa-icon [icon]="faLinkedin"></fa-icon>&nbsp;
               <a class="text-dark" href="https://www.linkedin.com/in/luca-pascucci-526190138/">Luca Pascucci</a> -
               <fa-icon [icon]="faSkype"></fa-icon>&nbsp;
               <a class="text-dark" href="https://join.skype.com/invite/k2F8ReIh3cpl">luca.pascucci_2</a> -
               <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;
               <a class="text-dark" href="mailto:lucapascucci19@gmail.com">lucapascucci19@gmail.com</a>
            </p>
         </div>
      </div>
      <div class="col-2">
         <div class="jumbotron shadow-lg p-5 mb-3 bg-light text-center">
            <h4 class="mb-3">Curriculum Vitae</h4>
            <p>
               <a download target="_blank" href="assets/CV_Luca_Pascucci.pdf">
                  <fa-icon class="text-dark fa-6x" [icon]="faFileDownload"></fa-icon>
               </a>
            </p>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col">
         <div class="card shadow text-center my-3" id="about">
            <h5 class="card-header bg-info text-white">#About <fa-icon [icon]="faInfoCircle"></fa-icon>
            </h5>
            <div class="card-body">
               <p class="card-text">Sono un ragazzo con la passione dell’<b>informatica</b> e dei <b>motori</b>. Mi
                  considero
                  intraprendente e con una buona autonomia nel conseguire gli obbiettivi prefissatomi nella vita. Sono
                  alla continua ricerca di apprendere ciò che non conosco e vorrei creare qualcosa di nuovo che può
                  migliorare l'ambiente in cui viviamo applicando le mie conoscenze di ingegneria informatica. Il mio
                  principale obiettivo è ricoprire ruoli che mi diano sempre maggiore autonomia decisionale. Reputo
                  fondamentale lavorare in un buon team che riesca a farmi esprimere le mie potenzialità e sono molto
                  attento a lavorare nella maniera più chiara e pulita per agevolare il lavoro di squadra.</p>
            </div>
         </div>
         <div class="card shadow text-center my-3" id="experience">
            <h5 class="card-header bg-info text-white">#Experience <fa-icon [icon]="faBriefcase"></fa-icon>
            </h5>
            <div class="card-body">
               <div class="container-fluid card-text">
                  <div class="row">
                     <div class="col">
                        <div class="card h-100">
                           <div class="card-body">
                              <h5 class="card-title">Full-Stack Developer</h5>
                              <h6 class="card-subtitle mb-2 text-muted">EBWorld s.r.l.</h6>
                              <p class="card-text">
                                 Realizzazione di applicazioni Backend utilizzando Node, SQL<br>
                                 Realizzazione di WebApp utilizzando il framework Angular<br>
                                 Realizzazione, progettazione e documentazione di applicativi<br>
                                 Progettazione e realizzazione di pacchetti indipendenti per Node e Angular</p>
                           </div>
                           <div class="card-footer text-muted">
                              12/2018 -> Presente
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="card h-100">
                           <div class="card-body">
                              <h5 class="card-title">Tirocinante Curricolare</h5>
                              <h6 class="card-subtitle mb-2 text-muted">EBWorld s.r.l.</h6>
                              <p class="card-text">
                                 Progettazione applicativo desktop Java<br>
                                 Progettazione applicativo mobile Android
                              </p>
                           </div>
                           <div class="card-footer text-muted">
                              10/2015 -> 12/2015
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="card h-100">
                           <div class="card-body">
                              <h5 class="card-title">Pilota</h5>
                              <h6 class="card-subtitle mb-2 text-muted">UniBoMotorsport</h6>
                              <p class="card-text">
                                 Membro del team dal 2014, lavorato a stretto contatto con tutti i reparti (elettronico,
                                 motore e veicolo). Pilota durante test e competizioni ufficiali degli anni 2014 - 2017
                                 - 2018.
                              </p>
                           </div>
                           <div class="card-footer text-muted">
                              10/2014 -> 10/2019
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
         <div class="card shadow text-center my-3" id="education">
            <h5 class="card-header bg-info text-white">#Education <fa-icon [icon]="faUniversity"></fa-icon>
            </h5>
            <div class="card-body">
               <p class="card-text">
               <div class="jumbotron mx-3 p-2 shadow-lg bg-white border border-secondary">
                  <h5>
                     Alma Mater Studiorum - Università di Bologna
                     <br>
                     Scuola di Ingegneria e Architettura
                     <br>
                     <a class="text-body" href="https://corsi.unibo.it/magistrale/IngegneriaScienzeInformatiche">
                        Corso di laurea magistrale in Ingegneria e Scienze Informatiche
                     </a>
                  </h5>
                  <p class="lead">
                     Votazione finale: <b>108</b>/110 - Data di conseguimento: 10/10/2019
                  </p>
                  <hr>
                  <p>
                     Tesi:
                     <a class="text-dark" href="https://amslaurea.unibo.it/19116/">
                        <b>Synapsis: Middleware per mente e corpo</b>
                     </a>
                  </p>
               </div>
               <div class="jumbotron mx-3 p-2 shadow-lg bg-white border border-secondary">
                  <h5>
                     Alma Mater Studiorum - Università di Bologna
                     <br>
                     Scuola di Scienze
                     <br>
                     <a class="text-body" href="https://corsi.unibo.it/laurea/IngegneriaScienzeInformatiche">
                        Corso di laurea in Ingegneria e Scienze Informatiche
                     </a>
                  </h5>
                  <p class="lead">
                     Votazione finale: <b>103</b>/110 - Data di conseguimento: 10/12/2015
                  </p>
                  <hr>
                  <p>
                     Tesi:
                     <a class="text-dark" href="https://amslaurea.unibo.it/9519/">
                        <b>Sincronizzazione di una applicazione offline con i sistemi di Back-End</b>
                     </a>
                  </p>
               </div>
            </div>
         </div>

         <div class="card shadow text-center my-3" id="skills">
            <h5 class="card-header bg-info text-white">#Skills <fa-icon [icon]="faMeteor"></fa-icon>
            </h5>
            <div class="card-body">
               <blockquote class="card-text blockquote">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                     ante.</p>
                  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                  </footer>
               </blockquote>
            </div>
         </div>
         <div class="card shadow text-center my-3" id="interests">
            <h5 class="card-header bg-info text-white">#Interests <fa-icon [icon]="faSearch"></fa-icon>
            </h5>
            <div class="card-body">
               <p class="card-text"></p>
            </div>
         </div>
         <div class="card shadow text-center my-3" id="awards">
            <h5 class="card-header bg-info text-white">#Awards <fa-icon [icon]="faAward"></fa-icon>
            </h5>
            <div class="card-body">
               <p class="card-text"></p>
            </div>
         </div>
      </div>
   </div>
</div>
