<h2>Functional Programming</h2>
<h6>"Valuta un’espressione e usa il risultato per qualcosa"</h6>

La computazione avviene esclusivamente attraverso la valutazione di espressioni, rappresentate da funzioni senza side
effects. Non c’è uno stato o degli oggetti mutevoli. La computazione viene svolta chiamando le funzioni: i valori
prodotti sono immutabili, e non ci sono loop ma solo ricorsioni.

<h4>Modello computazionale di riferimento: LAMBDA CALCOLO</h4>

<h3>Astrazioni</h3>

<h4>Funzioni</h4>
Astrae delle singole espressioni in funzioni che possono essere valutate a loro volta come espressioni. Le funzioni sono
first class values: sono tipizzate come i tipi di dati standard e possono essere passate come argomento ad altre
funzioni (high order functions).

<h3>Linguaggi:</h3>
<ul>
   <li>Haskell</li>
   <li>F#</li>
   <li>Erlang</li>
   <li>Scheme</li>
   <li>Lisp</li>
</ul>
