<h2>.Net</h2>
<p>...</p>

<h3>.Net Core</h3>

<h4>WPF (Windows Presentation Foundation)</h4>
Framework che permette di sviluppare applicazioni utilizzando linguaggi di markup (XAML) uniti a codice (c#) creando
applicazioni MVVM (Model->View->ViewModel) loosely coupled.

<h5>XAML (E<b>x</b>stensible <b>A</b>pplication <b>M</b>arkup <b>L</b>anguage)</h5>
Linguaggio per fornire un modello dichiarativo, simile ad XML, utilizzato in WPF per definire le intefacce grafiche.
<br>
Ad ogni file prova.XAML è associato un file prova.XAML.cs che è un file code-behind che contiene la logica per gestire
gli eventi dichiarati nel file prova.XAML

<h6>Layout</h6>
<ul>
   <li><b>Canvas</b>: definisce un'area all'interno della quale è possibile posizionare in modo esplicito gli elementi
      figlio usando le coordinate relative all'area Canvas.</li>
   <li><b>DockPanel</b>: definisce un'area in cui è possibile disporre gli elementi figlio in senso orizzontale o
      verticale, in relazione l'uno all'altro.</li>
   <li><b>Grid</b>: definisce un'area griglia flessibile costituita da <b>righe</b> e <b>colonne</b>.</li>
   <li><b>StackPanel</b>: dispone gli elementi figlio in una sola riga che può essere orientata orizzontalmente o verticalmente.</li>
   <li><b>VirtualizingStackPanel</b>: dispone e virtualizza il contenuto su una sola riga orientata orizzontalmente o verticalmente.</li>
   <li><b>WrapPanel</b>: posiziona gli elementi figlio in sequenza da sinistra a destra, suddividendo il contenuto nella riga successiva al bordo della casella contenitore. L'ordinamento successivo avviene in sequenza dall'alto verso il basso o da destra a sinistra, a seconda del valore della proprietà Orientation.</li>
</ul>
<h6>Controlli</h6>
