<h2>Object Oriented Programming (OOP)</h2>

<h6>"Scambia messaggi tra gli oggetti per simulare l’evoluzione temporale di un insieme di fenomeni del mondo reale"
</h6>

Paradigma di programmazione che permette di realizzare <b>oggetti</b> in grado di interagire gli uni con gli altri
attraverso lo scambio di messaggi. La computazione è data dallo scambio di messaggi tra self-contained computational
objects con un’identità e uno stato, che incapsulano uno stato e un comportamento.
<h4>Vantaggi:</h4>
<ul>
   <li>Supporto naturale alla modellazione software degli oggetti del mondo reale o del modello astratto da riprodurre
   </li>
   <li>Facile gestione e manutenzione di progetti di grandi dimensioni</li>
   <li>L'organizzazione del codice sotto forma di classi favorisce la modularità e il riuso di codice</li>
</ul>

<h3>Astrazioni, proprietà e funzionalità</h3>

<h4>Classe</h4>
Metodi + Attributi (variabili e costanti)

<h4>Oggetto</h4>
Istanza della classe. Gli oggetti sono raggruppati in classi, che rappresentano i concetti, mentre gli oggetti rappresentano i fenomeni. Nei
linguaggi object-based non ci sono classi! (es. JavaScript)

<h4>Incapsulamento</h4>
I dati e le informazioni sono incapsulati negli oggetti. Le informazioni sono
nascoste per proteggere le proprietà interne degli oggetti.

<h4>Ereditarietà</h4>
Le classi sono organizzate in gerarchie ereditarie, che permettono estensione e specializzazione.

<h4>Message Passing</h4>
Forma di interazione tra gli oggetti, è una metafora dell’applicazione di un’operazione a un oggetto (anche se non era
inizialmente inteso in questo senso).

<h3>Linguaggi:</h3>
<ul>
   <li>Smalltalk</li>
   <li>C++</li>
   <li>Java</li>
   <li>Objective C</li>
   <li>Python</li>
   <li>C#</li>
   <li>Scala</li>
   <li>Ruby</li>
</ul>
