<h2>Imperative Programming</h2>
<h6>"Prima fai questo e poi fai quello"</h6>
Descrive la computazione tramite sequenze di statement (dichiarazioni) o comandi che l'elaboratore deve eseguire e che
cambiano lo stato del programma difatti il cambio di stato del programma è incrementale e in funzione del tempo.
<ol>
   <li>Ogni comando ha un effetto misurabile sullo stato del programma</li>
   <li>L’ordine dei comandi è importante</li>
</ol>

<h4>Modello computazionale di riferimento: MACCHINA DI TURING</h4>

<h3>Astrazioni</h3>

<h4>Procedure</h4>
Una o più azioni che possono essere chiamate con una singola azione. Permettono di strutturare i programma come
collezioni di procedure dove i cambiamenti di stato localizzati all’interno di esse o ristretti ad espliciti argomenti o
ai return delle procedure stesse. Fondamentale per la manutenibilità e qualità globale del programma, la sua evoluzione
è l’OOP.

<h3>Linguaggi:</h3>
<ul>
   <li>Fortran</li>
   <li>Algol</li>
   <li>Pascal</li>
   <li>Basic</li>
   <li>C</li>
</ul>
